
.icon-home:before { content: '\e800'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */